<% layout('./layouts/boilerplate') %>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center">New Post</h1>
        <form action="/posts" method="POST" novalidate enctype="multipart/form-data" class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" required name="post[title]" id="title" placeholder="Enter Title">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="post">Post</label>
                <textarea class="form-control" required name="post[post]" id="post" cols="30" rows="10"></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <div class="custom-file">
                    <label class="custom-file-label" for="image">Choose image(s)...</label>
                    <input type="file" id="image" name="image" class="custom-file-input form-control" multiple>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Create Post</button>
            </div>
        </form>
        <a href="/posts">All Posts</a>
    </div>
</div>