<% layout('./layouts/boilerplate') %>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1><%=post.title%></h1>
        <p class="text-muted my-3"><%=post.post%></p>

        <a href="/posts/<%=post._id%>/edit" class="btn btn-info">Edit Post</a>
        <a href="/posts" class="btn btn-primary">All Posts</a>
        <hr>

        <h4>Comments</h4>
    </div>
</div>